body {
    color: white;
    background-color: black;
    font-family: 'Sacramento', cursive;
    font-size: 150%;
<<<<<<< HEAD
    margin: 5em 35%;
=======
    margin: 5em 35%;
>>>>>>> 562a5688340f32acdd0b49af6b2e20acfc145404
 }
 